@model MagicalCrafters.Models.ViewModels
@using MagicalCrafters.Models

@{
    ViewBag.Title = "View Users";
}

<h2>View Users</h2>

<table class="table" tableFormat>
    <tr>
        <th>@Html.LabelFor(m => m.SingleUser.UserName)</th>
        <th>@Html.LabelFor(m => m.SingleUser.User_Info.Email)</th>
        <th>@Html.LabelFor(m => m.SingleUser.User_Info.House_Id)</th>
        @*<th>@Html.DisplayFor(m => m.SingleUser.User_Info.Role_Id)</th>*@
        <th></th>
    </tr>
    @foreach (Users user in Model.Users)
    {
    <tr>
        <td>@Html.DisplayFor(m => user.UserName)</td>
        <td>@Html.DisplayFor(m => user.User_Info.Email)</td>
        <td>@Html.DisplayFor(m => user.User_Info.House.Name)</td>
        @*<td>@Html.DisplayFor(m => user.User_Info.Role.Name)</td>*@
        <td>@Html.ActionLink("View", "GetUser", "Users", routeValues: new { userId = user.User_Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary" })</td>
    </tr>
    }
</table>