@model MagicalCrafters.Models.ViewModels
@using MagicalCrafters.Models

@{
    ViewBag.Title = "Update User";
}

<h2>Update User</h2>
<br />
<br />

@using (Html.BeginForm("PatchUser", "Users", FormMethod.Post))
{
    @Html.HiddenFor(m => m.SingleUser.User_Id)
    <div>
        <div>
            @Html.LabelFor(m => m.SingleUser.UserName)
        </div>
        <div>
            @Html.TextBoxFor(m => m.SingleUser.UserName)
        </div>
        <div>
            @Html.LabelFor(m => m.SingleUser.User_Info.Email)
        </div>
        <div>
            @Html.TextBoxFor(m => m.SingleUser.User_Info.Email)
        </div>
        @if ((int)Session["Role_Id"] == 3)
        {
            <div>
                @Html.LabelFor(m => m.SingleUser.User_Info.Role_Id)
            </div>
            <div>
                @Html.TextBoxFor(m => m.SingleUser.User_Info.Role_Id)
            </div>
            <div>
                Reset Password: 
            </div>
            <div>
                @Html.CheckBox("isPasswordReset", false)
            </div>
        }
        <br />
        <input type="submit" value="Update" />
    </div>
}