@model MagicalCrafters.Models.ViewModels
@using MagicalCrafters.Models

@{
    ViewBag.Title = "Update User";
}

<h2>Update User</h2>
<br />
<br />

@using (Html.BeginForm("PatchUser", "Users", FormMethod.Post))
{
    @Html.HiddenFor(m => m.SingleUser.User_Id)
    <div>
        <div>
            @Html.LabelFor(m => m.SingleUser.UserName)
        </div>
        <div>
            @Html.TextBoxFor(m => m.SingleUser.UserName)
        </div>
        <div>
            @Html.LabelFor(m => m.SingleUser.User_Info.Email)
        </div>
        <div>
            @Html.TextBoxFor(m => m.SingleUser.User_Info.Email)
        </div>
        @*<div>
            @Html.LabelFor(m => m.SingleUser.Password)
        </div>
        <div>
            @Html.PasswordFor(m => m.SingleUser.Password)
        </div>*@
        @*<div>
                @Html.LabelFor(m => m.SingleUser.ConfirmPassword)
            </div>
            <div>
                @Html.PasswordFor(m => m.SingleUser.ConfirmPassword)
            </div>*@

        <br />
        <input type="submit" value="Update" />
    </div>
}